html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header.contact,
div.chat,
footer.keyboard {
    width: 100%;
}

header.contact,
footer.keyboard {
    background-color: #00ACC1;
    display: flex;
    align-items: center;
}

header.contact div.profile_pic {
    background-color: #00838F;
    margin-left: 30px;
    height: 60%;
    /* define width in js */
    padding: 10px;
    padding-left: 12px;
    border-radius: 1000px;
}

header.contact div.name {
    margin: auto;
    width: 50%;
    font-size: 300%;
    color: white;
}

header.contact div.profile_pic > img {
    height: 90%;
    width: auto;
}

header.contact {
    height: 60px;
}

div.chat {
    /* height: 84%; */
    overflow-y: scroll;
}

footer.keyboard {
    position: absolute;
    bottom: 0;
    height: 60px;
    flex-direction: row;
    justify-content: flex-end;
}

footer.keyboard img {
    width: auto;
    height: 80%;
    margin: auto 20px auto 20px;
    cursor: pointer;
}

footer.keyboard input {
    width: 80%;
    border: none;
    border-radius: 100px;
    height: 70%;
    font-size: 200%;
    color: #00ACC1;
    padding-left: 20px;
}

footer.keyboard input:focus {
    outline: 0 none;
}

.chat > div[id $= "Msg"] {
    display: flex;
}

.chat #userMsg {
    justify-content: flex-end;
}

.chat #userMsg p {
    border: 1px solid #00ACC1;
    color: #00ACC1;
}

.chat #botMsg {
    justify-content: flex-start;
}

.chat #botMsg p {
    background: #00ACC1;
    color: white;
}

.chat > div[id $= "Msg"] > p {
    margin: 15px 10px;
    border-radius: 5px;
    padding: 15px 10px;
}